body{
    display: grid;
    place-items: center;
    color: black;
    background-color:#e6e7ee;
    height: 100vh;
    /* overflow: hidden; */
}
*{
    color: black;
}
.content{
    width: 55%;
    height: 65%;
    padding: 2rem 2rem;
    box-shadow:  inset  7px 7px 7px #d2d2d2,
    inset  -7px -7px 7px white;
    padding-bottom: 3rem;
}
.content section{   
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content:space-between;
}
.content section div{
    margin: 0 1rem;
}
.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 14rem;
    margin: 0.5rem 0 !important;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.teams img{
    width: 85% !important;
    height: 12rem !important;
    border-radius: 100%;
    border: 1rem solid #e6e7ee ;
    box-shadow: 7px 7px 7px #d2d2d2,
    -7px -7px 7px white;
}
.teams img:last-child{
    width: 85% !important;
    height: 12rem !important;
}
.events{
    margin: 0;
    display: flex;
    justify-content: space-between !important;
    padding: 0 7rem;
    margin-bottom: 1rem !important;
}
.events button{
    padding: 1rem 2rem;
    border: 2.5px solid black;
    border-radius: 5px;
    box-shadow:  7px 7px 7px #d2d2d2,
    -7px -7px 7px #ffffff;
    color: black;
    background-color: #e6e7ee;
    border: none;
}
.events button:hover{
    box-shadow:  inset  7px 7px 7px #d2d2d2,
    inset  -7px -7px 7px white;
}
#scores{
    font-size: 1.25rem;
    margin: 0 1rem;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.scores{
    display: flex;
    justify-content: space-between !important;
    padding: 0 2rem;
    width: 100%;
}
.scores div{
    display: flex !important;
    width: 40%;
    justify-content: space-between !important;
}

.dot{
    color: black;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Result{
    letter-spacing: 0.5px;
    word-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-weight: 600;
    color: #000;
}